@import "../../node_modules/bootstrap/scss/bootstrap";

$algaecal-color-1: #4c813d;
$algaecal-color-2: #54b8cd;
$algaecal-color-3: #e87b15;
$algaecal-color-4: #38a33f;
$algaecal-color-5: #26875a;
$algaecal-color-6: #008ba4;
$algaecal-color-7: #757575;
.row{
	margin: 0;
}

.algaecal-color-1{
	color: $algaecal-color-1;
}
.algaecal-color-2{
	color: $algaecal-color-2;
}

.container{
	padding-left: 0;
	padding-right: 0;
}

// 1) header styling
.cta{
	font-size: 1.35em;
	font-weight: 800;
	font-family: arial;
	padding-left: 3px;
}
.taptotalk{
		p, img {
			display: inline
		}
		p{
			padding-left: .3rem;
		}
}
// introduction container
.introduction-container{
	background-image: url('../images/texture-2.png');
	background-color: $algaecal-color-1;
	margin: 1rem 0;
	padding-bottom: 1rem;
	color: #fff;
		.lead{
			text-align: center;
			position: relative;
			padding-top: 1rem;
			font-size:1.5rem;
			font-weight: 400;
			letter-spacing: .1rem;
			text-transform: uppercase;
		}
}
.introduction-container{
	position: relative;
	h5, h4{
		padding-left: 20%;
	}
	h5{
		font-size: 1.5rem;
	}
	h4{
		font-size: 1.75rem;
	}
	
}
.squigglewrapper{
	position: relative;
	img{
		position: absolute;
		top: 1.75rem;
		left: 17%;
		z-index: 15;
	}
	p{
		font-size: 1.75rem;
		margin-left: 20%;
		margin-top: 0;
		margin-bottom: 0;
		z-index: 100;
		position: relative;
	}
}

// Squiggly Lines!!!!
.squiggle1{
  width:200px; height:10px;  
  margin: -5px auto 0;
  border: 5px solid;
  border-color: red transparent transparent transparent;
  border-radius: 25%/10px 10px 0 0;
  transform: rotateX(20deg);

}
.squiggle2{
  width:200px; height:10px;  
  margin: -5px auto 0;
  border:solid 5px #000;
  border-color: red transparent transparent transparent;
  border-radius: 60%/00 25px 0 0;
  transform: rotateX(180deg);
}

.info-text-blob{
	
	max-width: 20rem;
	font-weight: 200;
	letter-spacing: 0;
	margin: 0 auto;
	span{
		font-weight: 900
	}
}


/*product section*/
.products{
	position: relative;
	width:20rem;
	margin: 2.5rem auto;
	padding: 0 10px;
	box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.75);
	text-align: center;
	ul{
		padding: 0;
	}
	ul li{
		list-style-type: none
	}
}
@media screen and (min-width: 760px){
	.products{
		margin-left: 1rem;
		margin-right: 1rem;
	}
}
.sticker{
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	background-color: $algaecal-color-3;
	position: absolute;
	top: -2rem;
	left: 90%;
	box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.75);
	color: #fff;
	line-height: 1.25rem;
		p{
			padding-top: .75rem;
		}
}
.supply{
	font-weight: 500;
	font-size: 1.25rem
}
.supply-content{
	color: $algaecal-color-2;
}
.product-price{
	padding-bottom: 5px;
	position: relative;

	li:nth-child(1){
		font-size: 1.35rem;
		background-image: url('../images/highlight.png');
		background-repeat: no-repeat;
		background-position: center;
		span{
			font-size: .5rem;
			text-decoration: underline;
			line-height: .5rem;
			margin-bottom: 1rem;
		}
	}
	li:nth-child(2){
		font-size: .8rem;
	}
}

.addtocart, .buynow-container{
	height: 2rem;
	width: 10rem;
	border: 1px solid $algaecal-color-4;
	background-color: $algaecal-color-4;
	border-radius: 4px;
	margin: 0 auto;
	position: relative;
	bottom: 15px;
	box-shadow: 0px 6px 1px -1px rgba(38,135,90,1);
		img{
			height: 3.5rem;
			right: 2rem;
			bottom: .7rem;
		}
		img, p{
			display: inline;
			position: relative;
		}
		p{
			color: #fff;
			bottom: .7rem;
			left: -2rem;
			font-size: .75rem;

		}
	}
.most-popular{
	background-color: $algaecal-color-2;
	padding-bottom: .75rem;
	margin-bottom: 5rem;
		p{
			color: #fff
		}
}
.inner-most-popular-container{
	background-color: #fff;
	position: relative;
}



.facts{
	h4{text-align: center;
		margin-bottom: 1rem
	}
}
.table-container{
	border: 2px solid black;
	margin: 0 1.75rem 1.75rem 1.75rem;
	padding: .5rem;
	th{
		text-align: center;
		font-size: 1.5rem;
		font-weight: 500;
	}
	td{border: 0px};
}
.table th, .table td{
	padding: 0px 0px 0px 1rem;
	font-weight: 500;
}
.table tbody + tbody {
    border-top: 0px;
}
.facts-small{
	font-weight: 300 !important;
}
.ingredient-def{
	font-size: .75rem;
}
.lrg-band, .sm-band{
	background-color: #000;
}
.lrg-band{
	padding: .65rem !important;
}
.sm-band{
	padding: .25rem !important;
}
.servings-section{
	td{
		padding-top: .25rem;
		padding-bottom: .25rem;
	}
}
.guarantee-section{
	background-image: url('../images/texture-2.png');
	background-repeat: repeat;
	background-color: $algaecal-color-1;
	padding-top: .25rem;
	margin: 1.95rem; 
}
.guarantee-inner{
	margin: 2rem;
	background-color: #fff;
	border: 1px solid;
	img{
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
	
	h4, p{
		max-width: 35rem;
		margin: 0 auto;
		padding: 0 1.5rem; 
	}
	h4{
		color: $algaecal-color-3;
		padding-bottom: 1rem
	}
	p{
		font-weight: 200
	}
	a{
		text-decoration: underline;
		color: $algaecal-color-2;
	}
}
.ceo-name{
	width: 12.75rem;
	margin: 0 auto 2rem;
	p{
		padding: 0
	}
}
.as-seen{
	box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.75);
	margin: 1.9rem;
	padding-bottom: 1rem
}
.as-seen-header{
	text-align: center;
	color: #fff;
	background-color: $algaecal-color-1;
	padding: .5rem 0;
	line-height: .75rem;
	margin-bottom: 1rem;
	h4{font-size: 1.25rem;}
}

.as-seen-images{
	margin-top: 1.5rem;
	padding: 0rem;
	.pbs{
		margin-left: -1.25rem;
		margin-right: 1rem;
	}
}

.science {
	margin-bottom: 3rem;
	h5{
	text-align: center;
	color: $algaecal-color-2;
	}
	li{
		font-weight: 300;
	}
	a{
		text-align: center;
		color: $algaecal-color-2;
		text-decoration: underline;
	}
}
a:hover{
	text-decoration: none;
}
.buynow-container{
	width: 50%;
	height: 3rem;
	img{
		height: 5rem;
		bottom: .95rem;
	}
	p{
		font-size: 1rem;
		margin-left: 18%;
		position: relative;
		bottom: .8rem
	}
}
.footer-links{
	text-align: center;
	font-size: .75rem;
	a{
		color: $algaecal-color-7;
	}
}
.pipe{
	padding: 0 .25rem
}
footer{
	text-align: center;
	p{
		margin-top: 1rem
	}
}
