<head>
	<link rel="stylesheet" href="css/styles.css">
	<!--build:js js/main.min.js -->
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<!-- endbuild -->

</head>
<body>
	<div class="container">
		<header class="container-fluid">
			<div class="logo">
				<img src="images/logo.png" alt="algaecal">
			</div>
			<div class="cta">
				Tap to Talk <span class="algaecal-color-2">1-800-820-0184</span>
			</div>
			<div class="taptotalk"><img src="images/phoneicon.png" alt="Tap to Talk with a representative"><p>Speak to Our Bone Specialists!</p></div>
			
		</header>

<!-- Intro Container -->

		<div class="introduction-container container">
			<div class="intro-wrapper">
				<p class="lead">Introducing</p>
			</div>
			<h5>
				The ONLY Calcium <br>
				Supplement that
			</h5>
			<div class="squigglewrapper text-center">
				<img src="images/squiggle.png">
				<p class="text-center">
					Increases Bone 
				</p>
				<!-- <div class="squiggle1"></div> -->
				<p>Density*</h4>
			</div>
			<!-- <div class="squiggle2"></div>	 -->
			<h5>...Or Your Money Back</h5>
		</div>
<!-- end Intro Container -->
		<div class="info-text-blob container">
			<p>Build <span>brand new bone</span> WITHIN 6 MONTHS with this <span>rare algae</span> calcium<br> ...even if you're 85!
			</p>
		</div>
<!-- VIDEO Section -->

		<script src="//fast.wistia.com/embed/medias/cecdwaq3dz.jsonp" async></script>
        <script src="//fast.wistia.com/assets/external/E-v1.js" async></script>
        <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
        	<div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
        		<div class="wistia_embed wistia_async_cecdwaq3dz videoFoam=true " style="height:100%;width:100%">
        		</div>
        	</div>
        </div>

	
		<div class="container" id="products">
			<div class="row" id="products-container" style="display: none">
				<div class="col-md-4 products" id=product1>
					<div class="sticker">
						<p>20% OFF</p>
					</div>
					<ul class="supply-list">
						<li class= "supply">3 Month Supply</li>
						<li  class= "supply-content">4 AlgaeCal Plus</li>
						<li  class= "supply-content">3 Strontium</li>
					</ul>
					<img src="images/bottles.jpg" alt="AlgaeCal Plus">
					<ul class="product-price">
						<li>$233 <span>usd</span></li>
						<li>Only <span>$2.58</span>/Day!</li>
					</ul>
					<div class="addtocart">
						<a href="https://www.algaecal.com/product/bone-builder-packs">
							<img src="images/7year.png" alt="" class="guaranteeseal">
							<p>Add to Cart</p><span class="glyphicon glyphicon-triangle-right"></span>
						</a>		
					</div>
				</div>
				<div class="col-md-4 products most-popular" id=product2>
					<p>MOST POPULAR</p>
					<div class="sticker">
						<p>35% OFF</p>
					</div>
					<div class= "inner-most-popular-container">
						<ul class="supply-list">
							<li class= "supply">6 Month Supply</li>
							<li class= "supply-content">8 AlgaeCal Plus</li>
							<li class= "supply-content">6 Strontium</li>
						</ul>
						<img src="images/bottles6.jpg" alt="AlgaeCal Plus">
						<ul class="product-price">
							<li>$337 <span>usd</span></li>
							<li>Only <span>$2.09</span>/Day!</li>
						</ul>
						<div class="addtocart">
						<a href="https://www.algaecal.com/product/bone-builder-packs">
							<img src="images/7year.png" alt="" class="guaranteeseal">
							<p>Add to Cart</p><span class="glyphicon glyphicon-triangle-right"></span>
						</a>		
					</div>
					</div>
				</div>


				<div class="col-md-4 products" id=product1>
					<div class="sticker">
						<p>20% OFF</p>
					</div>
					<ul class="supply-list">
						<li class= "supply">12 Month Supply</li>
						<li  class= "supply-content">16 AlgaeCal Plus</li>
						<li  class= "supply-content">12 Strontium</li>
					</ul>
					<img src="images/bottles.jpg" alt="AlgaeCal Plus">
					<ul class="product-price">
						<li>$717 <span>usd</span></li>
						<li>Only <span>$1.97</span>/Day!</li>
					</ul>
					<div class="addtocart">
						<a href="https://www.algaecal.com/product/bone-builder-packs">
							<img src="images/7year.png" alt="" class="guaranteeseal">
							<p>Add to Cart</p><span class="glyphicon glyphicon-triangle-right"></span>
						</a>		
					</div>

				</div>
			</div>
<!-- facts section -->			
			<div class="row">
				<div class="col-md-6 facts">
					<h4>AlgaeCal Plus</h4>
					<div class="table-container">
						<table class="table">
							<thead>
								<th class="col-xs-12">Supplemental Facts</th>
							</thead>
							<tbody>
								<tr class= "servings-section">
									<td>4 Capsules per day</td>
								</tr>
								<tr class= "servings-section serving-section-last">
									<td>Servings Per Container: 4</td>
								</tr>
								<tr>
									<td class="lrg-band"></td>
								</tr>
								<tr>
									<td class="facts-small col-xs-9">Amount Per Serving</td>
									<td class="facts-small col-xs-3">%DV</td>
								</tr>
								<tr>
									<td class="sm-band"></td>
								</tr>
								<tr>
									<td class="col-xs-9">Vitamin C 50 mg</td>
									<td class="col-xs-3">84%</td>
								</tr>
								<tr>
									<td class="ingredient-def">(as calcium ascorbate)</td>
								</tr>
								<tr>
									<td class="col-xs-9">Vitamin D3 1600 IU</td>
									<td class="col-xs-3">400%</td>
								</tr>
								<tr>
									<td class="ingredient-def">(as cholecalciferol)</td>
								</tr>
								<tr>
									<td class="col-xs-9">Vitamin K2 100 mcg</td>
									<td class="col-xs-3">126%</td>
								</tr>
								<tr>
									<td class="ingredient-def">as menaquinone-7</td>
								</tr>
								<tr>
									<td class="col-xs-9">Calcium 720 mg</td>
									<td class="col-xs-3">72%</td>
								</tr>
								<tr>
									<td class="ingredient-def">(from algas calcareas)</td>
								</tr>
								<tr>
									<td class="col-xs-9">Magnesium 350 mg</td>
									<td class="col-xs-3">88%</td>
								</tr>
								<tr>
									<td class="ingredient-def">(from algas calcareas and magnesium oxide)</td>
								</tr>
								<tr>
									<td class="lrg-band"></td>
								</tr>
								<tr>
									<td>Boron 3.0 mg*</td>
								</tr>
								<tr>
									<td class="ingredient-def">(as glycinate)</td>
								</tr>
								<tr>
									<td class="lrg-band"></td>
								</tr>
								<tr>
									<td class="ingredient-def">
										*Daily Value (DV) not established
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-md-6 facts">
					<h4>Strontium</h4>
					<div class="table-container">
						<table class="table">
							<thead>
								<th class="col-xs-12">Supplemental Facts</th>
							</thead>
							<tbody>
								<tr class= "servings-section">
									<td>2 Capsules per day</td>
								</tr>
								<tr class= "servings-section serving-section-last">
									<td>Servings Per Container: 30</td>
								</tr>
								<tr>
									<td class="lrg-band"></td>
								</tr>
								<tr>
									<td class="facts-small col-xs-9">Amount Per Serving</td>
									<td class="facts-small col-xs-3">%DV</td>
								</tr>
								<tr>
									<td class="sm-band"></td>
								</tr>
								<tr>
									<td class="col-xs-9">Vitamin C 50 mg</td>
									<td class="col-xs-3">84%</td>
								</tr>
								<tr>
									<td class="ingredient-def">(as calcium ascorbate)</td>
								</tr>
								
								<tr>
									<td class="lrg-band"></td>
								</tr>
								<tr>
									<td class="ingredient-def">
										*Daily Value (DV) not established
									</td>
								</tr>
							</tbody>
						</table>
					</div>		
				</div>
			</div>
			<div class="row guarantee-section">
				<div class="col-xs-12">
					<div class="guarantee-inner">
						<img class="mg-fluid mx-auto d-block" src="images/7year.png" alt="guaranteeseal">
						<h4>
							Stronger Bones For 7 Years Guarantee
						</h4>
						<p>
							When you follow directions for use of AlagaeCal Plus and Strintium Boost - we guarantee you will see increased bone density in EVERY follow-up bone scan you have while using these 2 products - or we wukk refund every penny you paid for our product between your scans.  This guarantee extends to every scan you have for the next 7 years!  Alsom if you are unsatisfied at any time you can return my product for a full refund, no questions asked! <a href="#" data-toggle="modal" data-target="#sevenyearguar">Click Here for Details</a>
						</p>

<!-- MODAL MODAL MODAL!!!! -->
						<div class="modal fade" id="sevenyearguar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLongTitle">The 7 Year Guarantee</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <h3>Too Good to Be True?</h3>
			<p>Since no other calcium company, no drug, and no doctor guarantees you will increase bone density even for one year, why should you believe our 7 year guarantee?</p>
			<p>Because we have been offering this guarantee since 2006. Because 19,473 customers like you have ALREADY built stronger bones&#8230;and only one person didn’t see the results we guarantee!  And because our products are clinically supported to increase bone density over a 7 year period &#8211; they just work.</p>
			<p>Measureable improvements always appear at 6 months from when you start your AlgaeCal Plus and Strontium Boost program.  So if your next DXA (or DEXA)  bone scan is scheduled half a year or more from now we guarantee your bone density increase.  You may choose to wait for your next scheduled scan so that it is paid for by your insurance, or you may choose to pay out of pocket to check your results earlier.  Either way is fine for us.  Just allow at least 6 months of taking the products as directed before your follow up scan.</p>
			<p>In other words, “scan to scan to scan” improvements MUST be yours for the next 7 years!</p>
			<h3>How It Works</h3>
			<p>You need two bone scans to make this guarantee work.  The first scan needs to be within 30 days of your purchase of AlgaeCal Plus + Strontium Boost. The second scan can be whenever you want, as long as it’s at least 6 months after you start taking the products (and not more than 30 days after you stop).</p>
			<p>This allows you to measure how well these products increase your bone density when you get your second scan.</p>
			<h3>What You Need To Do</h3>
			<p>Have a DXA scan that is not more than 30 days old to establish a baseline measurement. (If you had a bone scan more than 30 days ago, your guaranteed period will launch from your next scan onward. So don’t wait!  Get started building healthy new bone right now before your guarantee begins.)</p>
			<p>Take these two products at full dose as directed for at least six months.</p>
			<p>Get your follow up DXA scan. It doesn’t matter when… six, twelve, even 24 months after you start – as long as you have continued to use your products between scans.</p>
			<p>If your follow up scan does not show an increase in your hip and/or spinal bone density, we refund every penny you paid us between those two scans.</p>
			<p>You can repeat this process of increasing bone, guaranteed, from scan to scan, for the next 7 years! (Because our products are clinically supported to increase bone density over a 7 year period.)  At that point, we’ll be happy to repeat the guarantee. That’s how confident we are that you will see a bone density increase with every subsequent scan!  You are automatically extended!</p>
			<p>Your satisfaction is also guaranteed for as long as you take our products. You must be 100% satisfied, or you get your money back. Period. If you need anything at all please call our amazing customer superstars toll free at <a class="phone-number" href="tel:18008200184">1-800-820-0184</a>.</p>;
			<h3>Exceptions</h3&gt;
			<p>1.    Current Prescription Drug Use.  Studies show that a wide range of prescription drugs, including bone drugs, interfere with natural bone density increases.  You may take drugs now that impede AlgaeCal Plus and Strontium Boost from increasing your bone density. To learn if your prescription is excluding you from this guarantee, please call toll free <a class="phone-number" href="tel:18008200184">1-800-820-0184</a>.</p>;
			<p>2.     Early Stage Menopause. If you are in the first five years of menopause, your hormone balance may cause a dramatic drop in bone density.  So even the great nutrients in AlgaeCal Plus and Strontium Boost may not be able to offset the loss. So women in this phase of life are excepted from the Guarantee.   IMPORTANT NOTE:  Even if you fall into one of the guarantee exceptions, AlgaeCal Plus and Strontium Boost is still your smartest choice because it is the ONLY nutrient combination that is clinically supported to increase bone density in adults.  If you are taking medications or are in early menopause, you need every nutritional advantage you can get.  Often, exempted customers STILL increase their bone density!</p>
			<div style="text-align: center;" class="bone-7yr-guarantee-video-proof">
			<h4 class="video-title">Here’s video proof</h4>
			<p><!-- make video responsive --></p>
			<div class="video-container">
			<div class="embed-responsive embed-responsive-16by9">
			<p>http://algaecal.wistia.com/medias/oxo4ak3z2d?embedType=async&#038;videoWidth=800&#038;videoFoam=true&lt;/p>
			</div>
			</div>
			<p><!-- make video responsive --></p>
			</div>
			<p>&nbsp;</p>
			<p><em><span style="color: #99cc00">Disclaimer: Guarantee matches 3 clinical studies results.</span> <a href="/research/" target="_blank">View studies.</a></em>&lt;</p>
			      </div>
	      
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
						<img src="images/ceo.png" class="img-fluid mx-auto d-block" alt="Dean Nuels">
						<div class="ceo-name text-center">
							<h5>Dean Neuls,</h5>
							<p>CEO and Co-Founder,<br>
							AlgaeCal Inc.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row as-seen">
				<div class="col-xs-12 as-seen-header">
					<h4>As Seen On:</h4>
				</div>
				<div class="row as-seen-images">
					<div class="col-xs-3"><img src="images/oz.png" alt="OZ"></div>
					<div class="col-xs-3"><img src="images/fox.png" alt="FOXNEWA"></div>
					<div class="col-xs-2 pbs"><img src="images/pbs.png" alt="PBS"></div>
					<div class="col-xs-4"><img src="images/amz.png" alt="AMAZON.COM"></div>
				</div>
				<div class="row as-seen-images">
					<div class="col-xs-6"><img src="images/youngbook.png" alt="Forever Young"></div>
					<div class="col-xs-6"><img src="images/bonesbook.png" alt="Your Bones"></div>
				</div>
			</div>
			<div class="row science">
				<h5>Scientific References</h5>
				<ol>
					
					<li>Marques A, Ferreira RJ,
					Santos E, et al.  The accutacy of osteoporitic fracture risk prediction tools: a systematic review and meta-analysis.  Ann Rheum Dis. 2015 Nov;74(11):1958-67. <br>
					doi: 10.1136/annrheumdis-2015-207907.  Epud 2015 Aug 6 PMID: 26248637,
					</li>
					<li>Riggs BL, Melton LJ 3rd.<br>
					The worldwide problem of osteoporosis: insights afforded by epidemiology. Bone. 1995 Nov;17(5 Suppl):505S-511S. PMID: 8573428</li>
					<li>
						http://wwww.algaecal.com/expert-insights/prescription-drugs-that-cause-osteoporosis/
					</li>
				</ol>
				<div class="text-center">
					<a href="#"><p>View Full Reference List...</p></a>
				</div>
			</div>
			<a href="#products">
				<div class="row buynow-container">
					
						<img src="images/7year.png" alt="guaranteeseal">
						<p class="buynow">Buy Now</p>
					
				</div>
			</a>
			<footer class="footer">
				<div class="row">
					<div class="col">
						<div class="logo">
							<img src="images/logo.png" alt="algaecal">
						</div>
					</div>
				</div>
				<div class="footer-links">
					<a href="#">Shipping & Returns</a><span class="pipe">|</span><a href="#">Health Disclaimer</a><span class="pipe">|</span><a href="#">Legal and Privacy</a><span class="pipe">|</span><a href="#">Contact</a><span class="pipe">|</span><a href="#">Order Now</a>
				</div>
					
				<p>Copyright &copy 2017 AlgaeCal</p>
			</footer>
		</div>

	</div>
<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script>

<script>
window._wq = window._wq || [];


_wq.push({ id: "cecdwaq3dz", onReady: function(video) {
  // at 2min13sec seconds, do something amazing
  video.bind('secondchange', function(s) {
    if (s >= 133) {
      
      document.getElementById("products-container").style.display = "block";
    }
  });
}});
$('#products').click(function() {
    document.getElementById("products-container").style.display = "block";
});
</script>
</body>